/* import fonts from fonts.css */
@import url(./fonts.css);

/* CSS VARIABLES */
@import url(./pertials/_variables.css);

.pit{
    text-transform: uppercase;
    margin-left: 200px;
    font-family: cursive;
    color: red;
}

.horn{
background:var(--gradient-color);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
}

.img{
    width: 1000px;
    margin-right: 200px;
}

.auto{
    margin-left: 300px;
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
    
    display: hover;
    
    
}

/* Start navigation */
.header_area.main-menu.navbar-brand{
    padding: 0 2 rem 0 5rem;
}
.header-area.main-menu.navbar{
    padding: 1 rem 20rem;
}

.title-text{
    margin-left: 200px;
}
.kite{
    margin-left: 200px;
    position: absolute;
    bottom: 20px;
    left: 70px;
    top: 800px;
   
}
.button.primary-button, .button.secondary-button{
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    background: white;
    background-clip: padding-box;
    transition: background.6s ease;
    margin-left: 40px;
    
}
.button.primary-button:hover{
    background-color: blueviolet;
    background-clip: padding-box;
}

.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background.6s ease;
}
.button.secondary-button:hover{
    
    background-color: blueviolet;
    background-clip: padding-box;
}


.put{
    width: 500px;
    margin-left: 200px;
    position: absolute;
    bottom: 20px;
    right: 70px;
    top: 100%;
    
    
}

    

/* End navigation */

/* Banner Area */



.rice{
    margin-left: 200px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0px 110%;
    color: rgb(179, 47, 47);
    text-decoration: none;
    margin-right: 5%;
    transform: translateY(-10px);

}
.porn{
    font-family: cursive;
    color: rgb(179, 47, 47);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0px 110%;
    text-decoration: none;
    margin-right: 5%;
    position: relative;
   
    
    
}

.pilot{
    font-size: 5rem;
    margin-left: 200px;
}
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: coral;
    bottom: 50%;
    right: 2px;
    
    
    
  }


/* End Banner Area */