/*import fonts from fonts.css*/
@import url(./fonts.css);

body{
    background: cornflowerblue;
}
.ml-auto{
    margin-left: auto;
}

/*start navigation*/
.navbar-brand{
padding-top: 0;
padding-left: 2rem;
padding-right: 5rem;
padding-bottom: 0;
}

/*end navigation*/